.body {
  background-color: skyblue;
}

.glass {
  font-weight: bold;
  text-shadow: black 2px 5px;
  text-decoration: underline;
}
.cup {
  text-decoration: underline;
  color: purple;
}
.spoon {
  text-align: center;
  color: purple;
}
.plate {
  color: purple;
  font-style: italic;
}
.Num {
  color: green;
  font-style: italic;
}
.insta {
  color: green;
  font-style: italic;
}
